{% extends 'base.html' %}

{% block content %}

<div class="w-full flex mt-5 justify-center ">
    <div class="bg-gray-200 w-5/12 rounded-lg">
        {% if title == 'Loan Recieve' %}
<div><a class="font-bold text-blue text-center pb-5 pt-10 px-5" href="{% url 'loan_list' %}">View All Loan List</a></div>
        {% endif %}
        <form method="post" class="px-8 pt-6 pb-8 mb-4">
            {% load crispy_forms_tags %}
            {% csrf_token %}
                {{ form|crispy }}
            <div class="flex w-full justify-center">
                <button class="bg-blue-900 text-white hover:text-blue-900 hover:bg-white border border-blue-900 font-bold px-4 py-2 rounded-lg" type="submit">
                Submit
            </button>
            </div>
        </form>
    </div>
    
</div>
{% endblock %}